[submodule "schemas/xslt"]
	path = schemas/xslt
	url = git://github.com/ndw/xslt-relax-ng.git
[submodule "dist/elisp/grail"]
	path = dist/elisp/grail
	url = git://github.com/codermattie/Grail.git
[submodule "dist/elisp/emacs-scalaz-unicode-input-method"]
	path = dist/elisp/emacs-scalaz-unicode-input-method
	url = git://github.com/folone/emacs-scalaz-unicode-input-method.git
[submodule "dist/elisp/org-impress-js"]
	path = dist/elisp/org-impress-js
	url = https://github.com/kinjo/org-impress-js.el.git
